.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "hero"
      "companySlogan"
      "pictures"
      "concept"
      "revolution"
      "offers"
      "newsletter"
      "pictures1"
      "balance"
      "footer";
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
header { 
    grid-area: header; 
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "icon PT eng"
}

.icon {
    grid-area: icon;
}
.PT {
    grid-area: PT;
}
.eng {
    grid-area: eng;
}


.hero { 
    grid-area: hero; 
    background-color: pink;
}
  
.companySlogan { 
    grid-area: companySlogan;
    background-color: green;
}

.proTech {
    grid-area: proTech;
    background-color:rgb(210, 205, 77)
} 

.pictures {
    display: grid; 
    grid-area: pictures;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "pic1 pic2"
}

  
.concept { 
    display: grid;
    grid-area: concept; 
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "text"
      "readMore";
}

.revolution { 
    grid-area: revolution; 
    background-color: azure;
}

.offers { 
    display: grid;
    grid-area: offers; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    overflow: hidden;
}


.newsletter {
    display: grid;
    grid-area: newsletter;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "newsletterTitle1"
      "newsletterText1"
      "newsletterForm1";
}

.newsletterTitlet1 {
    grid-area: newsletterTitlet1;
}
.newsletterText1 {
    grid-area: newsletterText1;
}
.newsletterForm1 {
    grid-area: newsletterForm1;
}
.pictures1 {
    display: grid;
    grid-area: pictures1;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "pic3 pic4";
}

.pic3 {
    grid-area: pic3;
    background-color: aqua;
}
.pic4 {
    grid-area: pic4;
    background-color: rgb(43, 148, 148);
}

.balance {
    display: grid;
    grid-area: balance;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title1"
      "text2"
      "readMore1";
}

.title1 {
    grid-area: title1;
    background-color: bisque;
}
.text2 {
    grid-area: text2;
    background-color: rgb(148, 119, 83);
}
.readMore1 {
    grid-area: readMore1;
    background-color: rgb(105, 68, 22);
}

footer { 
    display: grid;
    grid-area: footer; 
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "newsletter"
      "info"
      "socials";  
}

.info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #4D4B4B;
    padding-left: 12px;
}
.socials {
    grid-area: socials;
    background-color: #4D4B4B;
}

/* @media (max-width: ) { - use media queries to to make layout*/ 
    /* .container {} */
/* } */
  
