.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero"
    "mood"
    "concept"
    "revolution"
    "animation"
    "offers"
    "pictures1"
    "balance"
    "bottomPicture"
    "footer";
  max-width: var(--page-width);
  width: 100%;
  margin: 0 auto;
}
/* z-index positions stuff on top of everything else */

header {
  width: 100%;
  position: fixed;
  z-index: 2;
  justify-content: center;
  display: flex;
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}

/* .mood { 
  grid-area: mood;
  background-color: (221,217,207);
} */

.concept {
  grid-area: concept;
  background-color: (221, 217, 207);
  padding-top: 50px;
}

.revolution {
  grid-area: revolution;
}

.animation {
  grid-area: animation;
}

.offers {
  display: grid;
  grid-area: offers;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  overflow: auto; /* makes the content scrollable in whatever direction in overflows */
}

.pictures1 {
  grid-area: pictures1;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.pic3,
.pic4 {
  max-width: 100%;
  height: auto;
  display: block;
}

.balance {
  grid-area: balance;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2.5rem;
  padding-top: 50px;
  max-width: 712px;
  margin: 0 auto;
}

.bottomPicture {
  grid-area: bottomPicture;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "newsletter1"
    "info"
    "socials"
    "contactInfo";
}

.newsletterTitlet1 {
  grid-area: newsletterTitlet1;
}

.newsletterText1 {
  grid-area: newsletterText1;
}

.newsletterForm1 {
  grid-area: newsletterForm1;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.socials {
  grid-area: socials;
  display: flex;
  gap: 45px;
}

.contactInfo {
  grid-area: contactInfo;
}

.infoDesktop {
  display: none;
}

@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "info newsletter1"
    "contactInfo contactInfo";
    padding-bottom: 40px;
    gap: 30px;
  }

  .infoDesktop {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .info {
    display: none;
  }

  .socials {
    display: none;
  }

  .mobile {
    display: none;
  }

  .desktop nav.hidden {
    transform: translateY(-120%);
  }

  .desktop nav {
    transition: transform 0.7s ease-in-out;
  }

}
