.topBanner {
  padding: 15px 25px 5px 25px;
  text-align: center;
  background-color: var(--grey-olive);
  position: relative;
  width: 100%;
  z-index: 3;
}

.container {
  background-color: var(--baige);
}

.desktop {
  display: none;
  width: 100%;
}

.mobile {
  width: 100%;
  /* margin-top: 70px; */
}

.burgerMenuDesktop {
  display: none;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero h3 {
  padding-bottom: 0;
} 

.heroImage {
  background-image: url("../assets/Hero_mobil_.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.gradient {
  position: absolute;
  bottom: 0px;
  background: var(--baige);
  background: linear-gradient(
    0deg,
    var(--baige) 11%,
    rgba(0, 212, 255, 0) 100%
  );
  height: 300px;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.mottoDesktop,
.mottoMobile {
  position: relative;
  text-align: center;
  color: var(--green);
  padding: 45px 0 60px 0;
}

.mottoDesktop {
  display: none;
}

.offers {
  padding: 2.5rem;
  background-color: var(--navy);
  gap: 40px;
}

.offer {
  display: block;
  width: 65vw; /*ask designers how wide they want these pictures to be*/
}

.offerImage {
  position: relative;
  width: 100%;
  height: 578px;
  margin: 2.5rem 0 2.5rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  background-color: var(--baige);
}

.moodInfo {
  display: none;
}

.moodContainer {
  position: relative;
  width: 100%;
}

button {
  width: fit-content;
}

.pictures1 {
  padding-top: 90px;
  background-color: var(--baige);
  gap: 10px;
}

.pictures1 .plusIcon,
.moodContainer .plusIcon {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.pictureContainer {
  position: relative;
  width: 100%;
}

.pictureContainer img {
  width: 100%;
}

.pictureInfo {
  display: none;
  max-width: 700px;
  width: 80%;
}

.balance h4 {
  color: var(--green);
}

.balance p {
  padding-bottom: 40px;
}

.imageBottom {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Purse_.png");
  background-size: cover;
  position: relative;
  background-position: center center;
}

.divBottom {
  height: 70px;
}

.newsletter1 {
  background-color: var(--baige);
  padding-bottom: 40px;
}
.newsletterText1 {
  width: 340px;
}

.newsletterForm1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 16px;
  padding-top: 20px;
}

.input {
  width: 338px;
  height: 49px;
  border: none;
  border-bottom: 3px solid;
  outline: none; /* Remove the default outline */
  padding-top: 15px;
  color: var(--grey);
  background-color: var(--baige);
}

.newsletterSend {
  width: 153px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: none;
}

footer {
  background-color: var(--white);
  color: var(--grey);
}

.info {
  padding: 60px 0px 0px 12px;
}

.socials {
  color: var(--baige);
  padding: 40px 0px 40px 20px;
}

.contactInfo {
  padding: 30px 0px 20px 5px;
}

.contactInfo p {
  font-weight: 500;
}