@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  padding: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 40px;
  height: 34px;
  border: 1px solid black;
}

main {
  width: 428px;
  background-color: #d9d9d9;
}

.hero,
.revolution {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  height: 564px;
  background-color: #88dbe0;
  margin: 0 0 2.5rem 0;
}

.herospan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 62px;
  font-weight: 700;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  line-height: 150%;
}
button p {
  margin: 0;
}

.koncepttext {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2.5rem;
}

.mood {
  display: flex;
  /* background-color: lightgreen; */
  align-items: center;
  padding-top: 40px;
}

.moodimage01 {
  background-color: rgb(171, 171, 171);
  width: 100%;
  height: 324px;
  margin-right: 24px;
}

.moodimage02 {
  background-color: rgb(171, 171, 171);
  width: 100%;
  height: 200px;
  margin-right: 24px;
}

button {
  position: relative;
  overflow: hidden;
  padding: 8px 27px 8px 27px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1;
  transition: color 0.6s cubic-bezier(0.64, 0, 0.4, 1); /* Add this line */
  background-color: salmon;
}

/* button animation */

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.64, 0, 0.4, 1);
  transform: translateX(0);
  z-index: -1;
}

button:hover::before {
  transform: translateX(100%);
}

button:hover {
  color: rgb(0, 0, 0);
}

.koncepttext span {
  max-width: 162px;
}

.revolution h2 {
  text-align: center;
}

.color-change {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }

  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
