.topBanner {
  padding: 15px 25px 5px 25px;
  text-align: center;
  background-color: var(--grey-olive);
  position: relative;
  width: 100%;
  z-index: 3;
}

.container {
  background-color: var(--baige);
}

.desktop {
  display: none;
  width: 100%;
}

.mobile {
  width: 100%;
  margin-top: 70px;
}

.burgerMenuDesktop {
  display: none;
}

.hero {
  height: 125vh;
  position: relative;
}

.heroImage {
  background-image: url("../assets/Hero_mobil_.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.gradient {
  position: absolute;
  bottom: 0px;
  background: var(--baige);
  background: linear-gradient(
    0deg,
    var(--baige) 11%,
    rgba(0, 212, 255, 0) 100%
  );
  height: 300px;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.animation h4 {
  position: relative;
  text-align: center;
  color: var(--green);
  padding: 30px 0 30px 0;
}

.offers {
  padding: 2.5rem;
  background-color: var(--navy);
  gap: 40px;
}

.offer {
  display: block;
  width: 70vw; /*ask designers how wide they want these pictures to be*/
}

.offerImage {
  position: relative;
  width: 100%;
  height: 578px;
  margin: 2.5rem 0 2.5rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.moodInfo {
  display: none;
}

.moodContainer {
  position: relative;
  width: 100%;
}

button {
  width: fit-content;
}

.pictures1 {
  padding-top: 90px;
  background-color: var(--baige);
  gap: 10px;
}

.pictureContainer {
  position: relative;
  width: 100%;
}

.pictureContainer img {
  width: 100%;
}

.pictureInfo {
  display: none;
  max-width: 550px;
  width: 80%;
}

.balance h4 {
  color: var(--green);
}

.balance p {
  padding-bottom: 40px;
}

.imageBottom {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/PursePreview.png");
  background-size: cover;
  position: relative;
  background-position: center center;
}

.divBottom {
  height: 70px;
}

.newsletter1 {
  background-color: var(--baige);
  padding-bottom: 40px;
}
.newsletterText1 {
  width: 340px;
}

.newsletterForm1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 16px;
  padding-top: 20px;
}

.input {
  width: 338px;
  height: 49px;
  border: none;
  border-bottom: 3px solid;
  outline: none; /* Remove the default outline */
  padding-top: 15px;
  color: var(--grey);
  background-color: var(--baige);
}

.newsletterSend {
  width: 153px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: none;
}

footer {
  background-color: var(--white);
  color: var(--grey);
}

.info {
  padding: 60px 0px 0px 12px;
}

.socials {
  color: var(--baige);
  padding: 40px 0px 40px 20px;
}

/* 
video {
  max-width: 100%;
  padding-bottom: 60px;
} */

@media (min-width: 1000px) {
  .herospan {
    position: absolute;
    bottom: 5%;
    width: 100%;
  }

  .hero {
    height: 100vh;
    position: relative;
  }

  .pic3 {
    padding: 0px 5px 0px 10px;
  }

  .pic4 {
    padding: 0px 10px 0px 5px;
  }

  .moodImage01 {
    padding: 0px 5px 0px 10px;
  }

  .moodImage02 {
    padding: 0px 10px 0px 5px;
  }

  h1 {
    font-size: 100px;
  }

  .balance {
    padding-top: 90px;
  }

  .balance p {
    padding-bottom: 70px;
  }

  .koncepttext {
    padding-top: 60px;
  }

  .offers {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .offer {
    width: 460px;
  }

  .moodInfo {
    display: block;
    position: absolute;
    padding: 0 6rem 0 3rem;
    font-size: 23px;
  }
  .moodInfo h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .pictureInfo {
    display: block;
    position: absolute;
    padding: 0 6rem 0 3rem;
    font-size: 23px;
  }

  .pictureInfo h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .heroImage {
    background-image: url("../assets/Hero_desktop_.png");
  }

  /* .burgerMenuDesktop broke the navbar for some reason */

  /* .burgerMenuDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

  .infoDesktop {
    padding-left: 120px;
  }

  .bottomPicture {
    padding-top: 70px;
  }

  .newsletter1 {
    padding-left: 70px;
    background-color: var(--white);
  }

  .input {
    background-color: var(--white);
  }

  footer {
    padding-top: 70px;
  }
  /* flex magic to make the menu centered, I googled how to keep the middle item centered when side items have different widths. not entirely sure how but it works xd */
  .logoDesktop,
  .menuDivRight {
    flex-grow: 1;
    flex-basis: 0;
  }

  .menuDivRight {
    justify-content: flex-end;
  }
  .menuDivMiddle,
  .menuDivRight {
    display: flex;
  }

  .menuDivMiddle > p {
    padding: 0 4rem;
  }

  .menuDivRight > * {
    padding: 0 1.5rem;
  }

  .revolution h4 {
    position: absolute;
    color: var(--white);
  }

  .animation h4 {
    padding: 45px 0 45px 0;
  }
}
