@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
  width: 100%;
  padding: 2.5rem;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}

.burger-line {
  width: 100%;
  height: 4px;
  background-color: black;
}

main {
  width: 428px;
  background-color: #d9d9d9;
}

.revolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
}

.revolution h2 {
  padding: 30px;
}

.herospan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 14vw; /* changing px to vw to make it relative to the screen width (it was breaking in narrow mobile devices) */
  font-weight: 700;
  margin: 0;
}

h2 {
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  line-height: 150%;
}
button p {
  margin: 0;
}

.koncepttext {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2.5rem;
  padding-top: 0;
  max-width: 712px;
  margin: 0 auto;
}

.koncepttext p {
  max-width: 420px;
}

.mood {
  grid-area: mood;
  display: flex;
  align-items: center;
  padding-top: 60px;
  gap: 10px;
}

.moodimage1,
.moodimage2 {
  background-color: (221, 217, 207);
  width: 100%;
  height: auto;
  display: block;
}

button {
  position: relative;
  overflow: hidden;
  padding: 8px 27px 8px 27px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1;
  transition: color 0.6s cubic-bezier(0.64, 0, 0.4, 1); /* Add this line */
  background-color: salmon;
}

.koncepttext span {
  max-width: 162px;
}

.revolution h2 {
  text-align: center;
  max-width: 342px;
}

.color-change {
  animation: color-change 5s infinite;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.24, 1);
}

/* plus-icon animation */

.plus-icon:hover {
  transform: rotate(90deg);
}

.plus-line-01,
.plus-line-02 {
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.plus-line-01 {
  width: 100%;
  height: 4px;
}

.plus-line-02 {
  width: 4px;
  height: 100%;
}

.offer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 20px;
}

/* image-hover animation */

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.01
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* button animation */

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.64, 0, 0.4, 1);
  transform: translateX(0);
  z-index: -1;
}

button:hover::before {
  transform: translateX(100%);
}

button:hover {
  color: rgb(0, 0, 0);
}

@keyframes color-change {
  0% {
    color: rgba(232, 196, 196, 1);
  }
  33% {
    color: rgba(52, 54, 67, 1);
  }
  66% {
    color: rgba(69, 108, 91, 1);
  }
  100% {
    color: rgba(232, 196, 196, 1);
  }
}
