.lightFont {
  color: white;
}
.darkFont {
  color: black;
}

.container {
  background-color: var(--baige);
}

.burgerMenuDesktop {
  display: none;
}


.hero {
  height: 100vh;
  position: relative;
}

.heroImage {
  background-image: url("../assets/hero_image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.gradient {
  position: absolute;
  bottom: 0px;
  background: var(--baige);
  background: linear-gradient(
    0deg,
    var(--baige) 11%,
    rgba(0, 212, 255, 0) 100%
  );
  height: 300px;
  width: 100%;
}

.offers {
  padding: 2.5rem;
  background-color: var(--grey-olive);
  gap: 40px;
}

.offer {
  display: block;
  width: 95vw; /*ask designers how wide they want these pictures to be*/
}

.offerImage {
  position: relative;
  width: 100%;
  height: 578px;
  margin: 2.5rem 0 2.5rem 0;
  background-image: url("../assets/ProTechch_klocka_preview2.png");
  background-size: cover;
  background-position: center;
}

.moodInfo {
  display: none;
}

.moodContainer {
  position: relative;
}

button {
  width: fit-content;
}


.pictures1 {
  padding-top: 90px;
  background-color: var(--white);
  gap: 10px;
}

.pictureContainer {
  position: relative;
}

.pictureInfo {
  display: none;
  max-width: 550px;
  width: 80%;
}

.text2 {
  padding-left: 16px;
}

.newsletterText1 {
  width: 340px;
  padding-left: 16px;
}

.newsletterForm1 {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.input {
  width: 309px;
  height: 49px;
  border-radius: 10px 0px 0px 10px;
  border: 3px solid;
  width: 200px;
}

.newsletterSend {
  width: 102px;
  height: 49px;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: 600;
}

footer {
  background-color: var(--white);
}

footer p, h4 {
  color: var(--grey);
}

a {
  color: var(--grey);
  padding: 5px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.info {
  padding: 60px 0px 0px 12px;
}

.socials {
  color: var(--baige);
  padding: 30px 0px 15px 16px;
}

video {
  max-width: 100%;
  padding-bottom: 60px;
}

@media (min-width: 1000px) {
  .herospan {
    position: absolute;
    bottom: 5%;
    width: 100%;
  }

  .pic3 {
    padding: 0px 5px 0px 10px;
  }

  .pic4 {
    padding: 0px 10px 0px 5px;
  }

  .moodimage1 {
    padding: 0px 5px 0px 10px;
  }

  .moodimage2 {
    padding: 0px 10px 0px 5px;
  }

  h1 {
    font-size: 100px;
  }

  .balance {
    padding-top: 90px;
  }

  .koncepttext {
    padding-top: 60px;
  }

  .offers {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .offer {
    width: 460px;
  }

  .moodInfo {
    display: block;
    position: absolute;
    padding: 0 6rem 0 3rem;
    font-size: 23px;
  }
  .moodInfo h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .pictureInfo {
    display: block;
    position: absolute;
    padding-left: 75px;
    font-size: 23px;
  }

  .pictureInfo h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .burgerMenu {
    display: none;
  }

  .burgerMenuDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30px;
    height: 30px;
  }

  .infoDesktop {
    padding-left: 120px;
    padding-top: 25px;
    
  }

  .newsletter1 {
    padding-left: 70px;
  }
  
  
}
