:root {
  --page-width: 100vw;

  --baige: #ddd9cf;
  --grey-olive: #a39b81;
  --light-pink: #e8c4c4;
  --dark-pink: #e39697;
  --navy: #343643;
  --green: #456c5b;
  --white: white;
  --black: black;
  --light-grey: #d9d9d9;
  --grey: #6b6b6b;
  --light: #F0ECE3;
}

/* TODO

-padding scale maybe?
-dropdown menu desktop
*/

